<html>
    <head>
    
            <title> "Hair" me out home page </title>

<!-- link for css and fonts --> 
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?q={{ time }}"/>   
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 <script type="text/javascript" src="{{ url_for('static', filename='index.js' ) }}"></script>
    </head>


<!--navbar code-->
<nav class="navbar">
  <h1 class="navbar-brand" href="index.html">"Hair" me out</h1> 
<img src="https://i.pinimg.com/originals/59/bb/24/59bb24770740c4d7456d63bddf4c1c16.jpg"href="index.html" alt="logo"style="width:85px;" >




  </nav> <br>

<!-- body content --> 
    <body>
   
    <p> Our mission is to inform people ways to take care of natural hair for people of color, with the addition of giving recommendations to different types of brands that are benefical for natural hair.</P>
    <p1>Want some quick tips? Take our hair quiz</p1> 

  <br>  <a href = "/quiz"> <input type = "button" value ="click here"> </a> 

<br> <br> <br>





                                <!-- side navbar --> 


           


                                                            <!--Javascript-->
<!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    </body>

<!-- Footer
<footer class="container-fluid text-center">

Copyright
 <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
 </div>
  <!-- Copyright -->

</footer> 



    
</html>



<!-- <img src= "https://media2.giphy.com/media/NRDLHC3lWcndu/giphy.gif"> -->












<!-- <html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
      <h1>Community Events Board</h1>
      <div class="event-list">
        <ul>
          {% for event in events %}
            <li>{{ event.event }} - {{ event.date }}</li>
          {% endfor %}
        </ul>
      </div>
    </body>
</html>
<html>
    <head>
     <link rel="stylesheet" type="text/css" href="style.css">    
    <title> "Hair" me out home page </title>
    </head>
    <body>
    <h1>"Hair" me out</h1>
    <form action="/index">
    <p>Please select the current status of your hair:</p>
    <input type="radio" id="condition1" name="condition" value="dry">
    <label for="condition1">Dry</label><br>
    <input type="radio" id="condition2" name="condition" value="damage">
    <label for="condition2">Damaged</label><br>
    <input type="radio" id="condition3" name="condition" value="brittle">
    <label for="condition3">Brittle</label>
    <br>
    <br>
    <br>
   
    
    
    </body>
</html>
Collapse




 -->
