<html>
    <head>
    <link rel="stylesheet" type="text/css" href="style.css">    
    <title> "Hair" me out home page </title>
    </head>
    <body>
    <h1>"Hair" me out</h1>
    <p> Our mission is to inform people ways to take care of natural hair for poeple of color, with the addition of giving reccomendations to different types of brands that are benefical for natural hair.</P>
    <p1>Take our hair quiz</p1>
    <br>
    <a href = "/quiz"> <input type = "button" value ="click here"> </a>
    
    
    </body>
</html>
