<html>
    <head>
    
    <title> "Hair" me out home page </title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?q={{ time }}"/>   
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

<nav class="navbar">
  <h1 class="navbar-brand" href="#">"Hair" me out</h1> </nav> <br>

    <body>
    <!-- <h1>"Hair" me out</h1> -->
    <p> Our mission is to inform people ways to take care of natural hair for poeple of color, with the addition of giving reccomendations to different types of brands that are benefical for natural hair.</P>
    <p1>Take our hair quiz</p1> 

    <br>
    <br>

    <img src= "https://media2.giphy.com/media/NRDLHC3lWcndu/giphy.gif">
    
    <br>
    
  <br>  <a href = "/quiz"> <input type = "button" value ="click here"> </a> 

                                                                        <!--Javascript-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

<!-- Footer -->
<footer class="container-fluid text-center">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


    
</html>
















<!-- <html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
      <h1>Community Events Board</h1>
      <div class="event-list">
        <ul>
          {% for event in events %}
            <li>{{ event.event }} - {{ event.date }}</li>
          {% endfor %}
        </ul>
      </div>
    </body>
</html>
<html>
    <head>
     <link rel="stylesheet" type="text/css" href="style.css">    
    <title> "Hair" me out home page </title>
    </head>
    <body>
    <h1>"Hair" me out</h1>
    <form action="/index">
    <p>Please select the current status of your hair:</p>
    <input type="radio" id="condition1" name="condition" value="dry">
    <label for="condition1">Dry</label><br>
    <input type="radio" id="condition2" name="condition" value="damage">
    <label for="condition2">Damaged</label><br>
    <input type="radio" id="condition3" name="condition" value="brittle">
    <label for="condition3">Brittle</label>
    <br>
    <br>
    <br>
   
    
    
    </body>
</html>
Collapse




 -->
