<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<title> "Hair" me out </title>
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<form action="/results" method="post">
							` <p>Please select the current status of your hair:</p>
							<input type="radio" id="condition1" name="condition" value="dry">
							<label for="condition1">Dry</label><br>
							<input type="radio" id="condition2" name="condition" value="damage">
							<label for="condition2">Damaged</label><br>
							<input type="radio" id="condition3" name="condition" value="brittle">
							<label for="condition3">Brittle</label>
							<br>
							<br>
		    </div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">
						<div class="card-body">

							<p> Please select your hair type</p>
							<div class="row">
								<div class "col">
									<input type="radio" id="hairtype1" name="type" value="3a">
									<label for="hairtype1">3a</label><br>
									<input type="radio" id= "hairtype2" name="type" value="3b">
									<label for="hairtype2">3b</label><br>
									<input type="radio" id= "hairtype3" name= "type" value="3c">
									<label for="hairtype3">3c</label><br>
                                        </div>
									<div class="col">
										<input type="radio" id="hairtype4" name="type" value="4a">
										<label for="hairtype4">4a</label><br>
										<input type="radio" id= "hairtype5" name="type" value="4b">
										<label for="hairtype5">4b</label><br>
										<input type="radio" id= "hairtype6" name= "type" value="4c">
										<label for="hairtype6">4c</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="card" style="width: 18rem;">
							<div class="card-body">
								` <p>Please select your hair porosity:</p>
								<input type="radio" id="hp1" name="porosity" value="High">
								<label for="hp1">high</label><br>
								<input type="radio" id="hp2" name="porosity" value="medium">
								<label for="hp2">medium</label><br>
								<input type="radio" id="hp3" name="porosity" value="Low">
								<label for="hp3">low</label><br>
								<br>
                                            </div>
							</div>
						</div>
						<div class="col-sm">
							<div class="card" style="width: 18rem;">
								<div class="card-body">
									<p>Please select your hair density:</p>
									<input type="radio" id="d1" name="density" value="High">
									<label for="d1">high</label><br>
									<input type="radio" id="d2" name="density" value="medium">
									<label for="d2">medium</label><br>
									<input type="radio" id="d3" name="density" value="Low">
									<label for="d3">low</label><br>
									<p>(High:Thick volume of hair that prevents scalp from being seen when one just
										looks at it)</p>
									<p>(Medium: )
									<
                                    </div>
								</div>
							
							</div>


						</div>

					</div>


				<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
					integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
					crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
					integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
					crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
					integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
					crossorigin="anonymous"></script>
			</div>
</body>

</html>