<head>

	<title> "Hair" me out </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/resultsfor4DLH.css?q={{ time }}" />
</head>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">


<!--navbar code-->
<nav class="navbar">
  <h1 class="navbar-brand" href="index.html">"Hair" me out</h1> 
  <img src="https://i.pinimg.com/originals/59/bb/24/59bb24770740c4d7456d63bddf4c1c16.jpg"href="index.html" alt="logo" class="photo" >
  </nav> <br>


<body>

  

    <div class="container">
    <div class="row">
    <div class="col">
    <div class="card" style="width: 18rem;">
      <form action="/results" method="post"> 
        <h2> Our suggestions for you: </h2>
        <ul>
          <li>Detangle hair</li>
          <li>Use a shampoo and then rinse with hot water</li>
          <li>Put in conditioner then rinse with cold water</li>
          <li>Put in a type of liquid leave in conditioner </li>
          <li>Apply a moisturizer </li>
          <li>Style hair in bigger sections to prevent hair from feeling compacted </li>
        </ul>
      </div>	    
		</div>
    <div class="col">
    <div class="card" style="width: 18rem;">
      <h2> Examples of what you can use: </h2>
          <ul>
          <li>Shampoo: Amika Reset Scalp Clarifying Gel Shampoo</li>
          <li>Liquid in leave in: SheaMoisture Strengthen & Restore Leave-In Conditioner</li>
          <li>Conditioner: Camille Rose Lavender - Quench Deep Conditioner </li>
          <li>Sealants: aloe vera gel </li>
        </ul>
      </div>	    
		</div>
    </div> 
     <img src= "https://cdn.lowgif.com/medium/05516d05cfce7eaf-afro-black-hair-gif-find-share-on-giphy.gif" class="center"> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </div>
    </body>
</html>